<html  xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<nav th:fragment="headerFragment" class="navbar">
  <ul>
  	<li><a th:href="@{/}">홈으로</a></li>
    <li><a th:href="@{/reserve/reservation}">예약하기</a></li>
     <li class="dropdown">
  <a href="javascript:void(0)" class="dropbtn">게시판</a>
  <div class="dropdown-content">
    <a th:href="@{/notice/notice/notice}">공지사항</a>
    <a th:href="@{/notice/notice/board}">자유게시판</a>
  </div>
</li>
    <!-- 로그인 항목 -->
    <li th:classappend="${#authorization.expression('isAnonymous()') ? '' : 'hidden'}">
      <a th:href="@{/member/login}">로그인</a>
    </li>
    <li th:classappend="${#authorization.expression('isAnonymous()') ? '' : 'hidden'}">
      <a th:href="@{/member/join}">회원가입</a>
    </li>

    <!-- 인증 항목 -->
    <li th:classappend="${#authorization.expression('isAuthenticated()') ? '' : 'hidden'}">
      <a th:href="@{|/member/myPage|}">마이페이지</a>
    </li>
    <li th:classappend="${#authorization.expression('isAuthenticated()') ? '' : 'hidden'}">
      <a th:href="@{/member/logout}">로그아웃</a>
    </li>
  	<li><a th:href="@{/map}" >오시는길</a></li>
  </ul>
</nav>
<script layout:fragment="script">
document.addEventListener("DOMContentLoaded", function() {
    const dropdown = document.querySelector(".dropdown");
    const dropbtn = document.querySelector(".dropbtn");

    // 클릭 시 토글
    dropbtn.addEventListener("click", function (e) {
      e.preventDefault();
      dropdown.classList.toggle("active");
    });

    // 바깥 클릭 시 닫힘
    window.addEventListener("click", function(e) {
      if (!dropdown.contains(e.target)) {
        dropdown.classList.remove("active");
      }
    });
  });
</script>

</html>