<html  xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<nav th:fragment="headerFragment" class="navbar">
  <ul>
  	<li><a th:href="@{/}">홈으로</a></li>
    <li><a th:href="@{/reserve/reservation}">예약하기</a></li>
    <li><a th:href="@{/notice/notice}">게시판</a></li>
    <!-- 로그인 항목 -->
    <li th:classappend="${#authorization.expression('isAnonymous()') ? '' : 'hidden'}">
      <a th:href="@{/member/login}">로그인</a>
    </li>
    <li th:classappend="${#authorization.expression('isAnonymous()') ? '' : 'hidden'}">
      <a th:href="@{/member/join}">회원가입</a>
    </li>

    <!-- 인증 항목 -->
    <li th:classappend="${#authorization.expression('isAuthenticated()') ? '' : 'hidden'}">
      <a th:href="@{|/member/myPage|}">마이페이지</a>
    </li>
    <li th:classappend="${#authorization.expression('isAuthenticated()') ? '' : 'hidden'}">
      <a th:href="@{/member/logout}">로그아웃</a>
    </li>
  	<li><a th:href="@{/map}" >오시는길</a></li>
  </ul>
</nav>
</html>