<html  xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}">
	<div layout:fragment="content" class="container">
     <h2>내 예약 목록</h2>
    <table class="table" th:if="${reserves != null and !reserves.isEmpty()}">
      <thead>
        <tr>
          <th>예약 번호</th>
          <th>기기</th>
          <th>예약 날짜</th>
          <th>예약 시간</th>
          <th>상태</th>
          <th>취소</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="order, loop : ${reserves}">
          <td th:text="${order.id}"></td>
          <td th:text="${order.machine}"></td>
       	  <td th:text="${#temporals.format(order.reservetime.atZone(T(java.time.ZoneId).of('UTC'))
                                                .withZoneSameInstant(T(java.time.ZoneId).of('Asia/Seoul')),
                                                'yyyy-MM-dd')}"></td> <!-- 날짜 포맷 -->
          <td th:text="${#temporals.format(order.reservetime.atZone(T(java.time.ZoneId).of('UTC'))
                                                .withZoneSameInstant(T(java.time.ZoneId).of('Asia/Seoul')),
                                                'HH:mm')}"></td> <!-- 시간 포맷 -->
          <td><span class="status confirmed" th:text="${order.status}"></span></td>
          <td>
  			<!-- 예약완료 → 취소 -->
  			<button class="btn-cancel" 
          	th:if="${order.status == '예약완료'}" 
          	th:onclick="|window.location.href='/reserve/reserveDelete/${order.id}'|">
   			 취소</button>
			 <!-- 세탁완료 → 삭제 -->
 			 <button class="btn-cancel" 
          	th:if="${order.status == '세탁완료'}" 
          	th:onclick="|window.location.href='/reserve/reserveDelete/${order.id}'|">
    		삭제</button>
			</td>
        </tr>
      </tbody>
    </table>
    <div class="container no-reservation" th:if="${#lists.isEmpty(reserves)}">
         	<h3>아직 예약이 없습니다!</h3><br>
          	<a th:href="@{/reserve/reservation}" class="btn-write" >예약하러 가기</a>
      </div>
     <form th:action="@{|/member/memberDelete/${member.memberid}|}" method="post" onsubmit="return confirm('정말 탈퇴하시겠습니까?');" style="margin-top: 20px;">
      <button type="submit" class="btn-cancel">회원탈퇴</button>
    </form>
    </div>
</html>